{%extends 'app/base.html' %}
{% load static %}

{%block contenido%}
<div class="banner-img">
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 texto-inicio">
    <h1><b>Happy Pets</b></h1>
    <h2>Bienvenido!!</h2>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-4"><iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
  <div class="col-sm-4">
    
  </div>

    <div class="col-sm-4 z">
      <h2 class="info">Ventas de ropa y accesorios para perros, gatos y mascotas por mayor, juguetes, collares, ropa,
      huesos, camas, casas, jaulas, tazas, platos, masticables, de todo en general para su mascota, despachos a todo
      Chile, Somos proveedores directos de CHILE POR MAYOR, los despachos se realizan directamente de nuestras
      bodegas
    </h2>
  </div>
 
  
</div>
{%endblock%}


